<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10">
				</div>
				<div class="col-md-2">
					<span>
						<a (click)='logoutclick()'><b>Logout</b></a>
					</span>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<table>
						<thead>
							<tr>
								<th>
									Id
								</th>
								<th>
									Name
								</th>
								<th>
									Email
								</th>
							</tr>
						</thead>

						<tbody *ngIf="listemp && listemp.length;else norecordfound">
							<tr *ngFor="let emp of listemp" let i=index>
								<td>{{emp.id}}</td>
								<td>{{emp.name}}</td>
								<td>{{emp.email}}</td>
							</tr>
						</tbody>

					</table>
					<ng-template #norecordfound>
						<tfoot>
							<tr>
								<td colspan="3" align="center">
									No Record Found
								</td>
							</tr>
						</tfoot>

					</ng-template>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
</div>