<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br /><br />
			<div class="row">
				<div class="col-md-8">
					<div id="div1" (drop)="drop($event,1)" (dragover)="allowDrop($event)">
						<ng-template dragdrop-host></ng-template>
					</div>
				</div>
				<div class="col-md-3" id="div2" (drop)="drop($event,2)" (dragover)="allowDrop($event)">
					<b>Drag items from the List!!!</b><br /><br />
					<div style="height: 300px;overflow-y:auto;">
						<div class="drag-box" *ngFor="let list of activeList" draggable="true"
							(dragstart)="drag($event,list)" id="drag1">
							{{list.name}}</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>